body {
  padding: 20px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #428bca;
}

div.pane {
	padding: 6px 10px;
	border-radius: 5px;
}

.ring {
	padding: 10px;
	border-radius: 26px;
	color: black;
	background-color: #f0ad4e;
}

div.controls {
	padding: 0px 5px;
}

div.tabContent {
	padding: 15px 0px;
}

td.right, th.right {
	text-align: right;
}

.large {
	font-size: large;
}

.indent-top {
	margin-top: 5px;
}

.indent-top2 {
	margin-top: 15px;
}
