body {
  padding: 20px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #428bca;
}

div.pane {
	padding: 5px 10px;
	border-radius: 5px;
}

div.tabContent {
	padding: 15px 0px;
}

td.right, th.right {
	text-align: right;
}